{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "object-curly-newline": false,
  "no-nested-ternary": false,
  "operator-linebreak": true,
  "global-require": false,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ]
}
